@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-text-color: black;
    --secondary-text-color: white;
    --primary-color: #4b3f72;
    --secondary-color: #ffc857;
}

body {
    font-family: 'Poppins', sans-serif;
    /* grid layout */
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-areas: "nav" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto 2fr auto;

    /* hide scrollbar*/
}

h1 {
    font-size: 3rem;
}

.nav-logo {
    width: 100px;
}

.nav-container {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 60px;
    background-color: var(--secondary-color);
}

.nav-menu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav-items {
    list-style-type: none;
    display: block;
}

.nav-links {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
}

/* PSEUDO CLASS FOR NAVIGATION */
.nav-logo:hover {
    transform: scale(1.2);
}

.nav-items:hover {
    color: var(--primary-color);
}

.nav-links:hover {
    color: inherit;
}

/* Hides burger when screen is large */
.burger-icon {
    width: 30px;
}

.burger-menu {
    display: none;
}

/*
    Setting the media for smaller screens
    to accomodate the burger menu
*/
@media screen and (max-width: 840px){
    .burger-menu {
        display: block;
    }

    .nav-menu {
        background-color: var(--primary-color);
        color: var(--secondary-text-color);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: -1000px;
        right: 60px;
    }

    .nav-menu.active {
        top: 80px;
    }

    .nav-items {
        width: 100%;
        padding: 10px;
        padding-left: 20px;
    }

    .nav-items:hover {
        background-color: var(--secondary-color);
    }

    .nav-links {
        color: inherit;
    }
}

@media screen and (max-width: 540px) {
    .nav-menu {
        right: 0;
    }

    .nav-container {
        padding: 0 20px;
    }
}

/*
    MAIN SECTION STYLING
*/

.main-container {
    grid-area: main;
}

section {
    height: 100vh;
    padding: 0 60px;
}

/*
    HOME SECTION
*/

img {
    max-width: 100%;
}

section#home {
    background-image: url('../assets/home-img.jpg');
    background-size: cover;
}

.home-container {
    width: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.home-container div {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

.home-header {
    background-color: var(--secondary-color);
}

.home-content {
    background-color: var(--secondary-text-color);
}

.shoes-icon {
    width: 20px;
    margin-right: 10px;
}

.home-container button {
    background-color: var(--secondary-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 4px 8px 0 black; */
    font-family: inherit;
    display: flex;
    justify-content: center;
}

.home-container button:hover {
    transform: scale(1.1);
}

/*
    ABOUT SECTION
*/

section#about {
    background-color: #4b3f72;
    color: var(--secondary-text-color);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-left img {
    width: 100%;
}

.about-left {
    flex: 1;
    margin-right: 20px;
}

.about-right {
    flex: 1;
}

.about-right * {
    margin-bottom: 10px;
}

.about-header {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    display: inline-flex;
    align-items: center;
}

.about-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.about-header h1{
    margin-right: 10px;
}


.about-right h3 {
    display: inline-block;
    padding: 5px;
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
}




/*
    PRODUCTS SECTION
*/

section#products {
    text-align: center;
}

.products-container {
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.products-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

.products-content {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    width: 30%;
    border: solid 2px black;
    margin: 20px;
}

.product-card img {
    width: 100%;
}

.product-card:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 8px 0 black;
}



/*
    CONTACT SECTION
*/



section#contact{
    background-color: var(--secondary-color);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-left {
    flex: 1;
    margin-right: 20px;
}

.contact-right {
    flex: 1;
}

form {
    margin-top: 10px;
}

form div, form button {
    width: 100%;
    margin-bottom: 5px;
}

div input, div textarea {
    width: 100%;
    height: 1.5rem;
    padding-left: 5px;
    border: none;
}

div textarea {
    height: 100px;
}

form button {
    padding: 7px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.send-icon {
    width: 20px;
    margin-right: 10px;
}


/*
    FOOTER
*/

footer {
    height: 40vh;
    margin: 20px 0px;
}

.footer-container {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 10px 60px;
}

.footer-item {
    width: 100%;
    padding: 10px;
}

.footer-item ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-author{
    padding: 10px 60px;
}


/*
    Media for sections
*/

@media screen and (max-width: 600px) {
    .home-container {
        width: 100%;
    }

    section#about {
        background-image: url('../assets/about-img.jpg');
        background-size: cover;
    }

    .about-container {
        display: block;
    }

    .about-left {
        display: none;
    }

    .about-right p {
        text-shadow: 2px 2px 5px black;
    }

    section#products {
        height: fit-content;
    }

    .products-container {
        top: 0%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        margin-bottom: 10px;
    }

    .products-content {
        display: flex;
        flex-direction: column;
    }

    .product-card {
        width: 80%;
        margin: 10px auto;
    }

    .product-card img {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .products-content, .product-card {
        width: 100%;
    }

    section#contact {
        height: fit-content;
    }

    .contact-container {
        top: 0%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        padding: 10px;
        display: block;
    }

    .contact-left, .contact-right {
       margin-bottom: 10px;
    }

    
}